{{ "popup-gate.css" | asset_url | stylesheet_tag }}
  
  {%- comment -%} Jquery CDN Link  {%- endcomment -%}
  <script src="https://code.jquery.com/jquery-3.6.1.slim.js" integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk=" crossorigin="anonymous"></script>
  
  <script src="{{ 'popup-gate.js' | asset_url }}" defer="defer"></script>
   

<div class='popup-onload'>
    <div class='cnt223'>
        <div class="wpar-popup-content">
        <div class="elementor-image">
            <img src="https://twift.devsinch.pro/wp-content/uploads/2019/07/AGE_CONTROL-1024x1024.jpg" alt="">											</div>
            <h2 class="heading-title">We’ve got some<br>adults-only $hit here</h2>

            <p class="text-med">If you already have your pubic hair and over 18 – press “I’m 18+” and enjoy!</p>
            <p class="text-med"> If not – sorry dude, come back once you’ll be old enough.</p> 
            <p class="small-text">WARNING! 18+<br><strong><span style="color: #0000ff;"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita distinctio fugiat alias iure qui, commodi minima magni ullam aliquam dignissimos?twift.devsinch.pro</span></strong> includes sexually explicit material intended for adults only. By clicking the “AGREE &amp; ENTER” button below you represent that you are at least eighteen (18) YEARS OF AGE, that you are legally permitted to access and to view sexually explicit material in your present jurisdiction, and that you have read, understood and agree to our terms of use below. Any persons under eighteen (18) years of age, or who are not legally permitted to access or to view sexually explicit material in their present jurisdiction, or who have not read, understood and agree to our terms of use are not authorized to enter this website or to directly or indirectly access the material therein.</p>
            <a href="" class="close" role="button">
                <span class="popup-button-text">I’m 18+</span>
            </a>
        </div>
    </div>
</div>



